[[source]]
url = 'https://pypi.python.org/simple'

[requires]
python_version = '3.8'

[packages]
hvac = '~= 0.10.0'

[dev-packages]
mypy = '== 0.782'
pylint = '~= 2.6'
rope = '~= 0.17'
yapf = '~= 0.30'
